# Python
python/__pycache__/
__pycache__/
*.pyc

# SQLite
*.db
*.db-journal
parking.db

# PlatformIO and ESP32 builds
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
build/
sdkconfig

# VSCode
.vscode/c_cpp_properties.json;
.vscode/launch.json
.vscode/ipch/
.vscode/.browse.c_cpp.db*
